.Home {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 70px;
    margin: auto;
    width: 80vw;
    padding: 3rem;
}

.main-floor::before, 
.second-floor::before {
  content: "main-floor";
  position: relative;
  top: -40px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 35px;
  user-select: none;
}

.second-floor::before {
  content: "second-floor";
}

.main-floor {
    display: grid;
    grid-gap: 45px;
    border: 1px solid #eaeaea;
    padding: 0 35px 35px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 6px 15px 1px rgba(1, 21, 65, 0.1);
}

.lane {
    display: flex;
    gap: 20px
}

.lane:nth-of-type(2) {
    display: grid;
    grid-template-columns: 5fr 4fr;
    min-height: 400px;
}

.container-left {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.container-right {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    display: flex;
    gap: 30px;
}

.second-floor {
    border: 1px solid #eaeaea;
    padding: 0 35px 35px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 6px 15px 1px rgba(1, 21, 65, 0.1);
}

.second-floor .lane {
  display: grid;
  grid-template-columns: 4fr 5fr;
  min-height: 400px;
}

.second-floor .container-left {
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  display: flex;
  gap: 30px;
}

.second-floor .container-right {
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  display: flex;
  gap: 50px;
}