.smallOffice {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  width: 211px;
  height: 301px;
  align-items: center;
  justify-content: center;
  place-items: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 12px;
  user-select: none;
}

.OfficeTableSurface {
  width: 120px;
  height: 152px;
  margin: auto;
  background-color: #eee;
  border: 1px solid #aad;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.OfficeChair {
  border-radius: 5px;
  width: 30px;
  height: 58px;
  background-color: #eee;
  border: 1px solid #aad;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  font-size: 12px;
  user-select: none;
}


.OfficeChair:hover, .OfficeTableSurface:hover {
  background-color: #cef;
}

.OfficeChair.green, .OfficeTableSurface.green {
  background: rgb(9, 41, 59);
  color: white;
}